<p><div id="page-footer" class="localized-footer"><ul class="footerUnorderedList">
<span class="footerLabel">LEARN MORE</span>
  <li class="footerListItem"><a href="https://www.bandwidth.com/voice">Voice</a></li><span class="remove4mobile">&#x2022;</span>
  <li class="footerListItem"><a href="https://www.bandwidth.com/messaging">Messaging</a></li><span class="remove4mobile"><span class="remove4mobile">&#x2022;</span></span>
  <li class="footerListItem"><a href="https://www.bandwidth.com/9-1-1">9-1-1 Access</a></li><span class="remove4mobile">&#x2022;</span>
  <li class="footerListItem"><a href="https://www.bandwidth.com/phone-numbers">Phone Numbers</a></li>
</ul>
<ul class="footerUnorderedList">
<span class="footerLabel">QUICK LINKS</span>
  <li class="footerListItem"><a href="https://status.bandwidth.com">Service Status</a></li><span class="remove4mobile">&#x2022;</span>
  <li class="footerListItem"><a href="https://www.bandwidth.com/glossary">Glossary</a></li><span class="remove4mobile">&#x2022;</span>
  <li class="footerListItem"><a href="https://www.bandwidth.com/news">News</a></li><span class="remove4mobile">&#x2022;</span>
  <li class="footerListItem"><a href="https://www.bandwidth.com/contact">Contact</a></li><span class="remove4mobile">&#x2022;</span>
  <li class="footerListItem"><a href="https://www.bandwidth.com/resources">Resources</a></li><span class="remove4mobile">&#x2022;</span>
  <li class="footerListItem"><a href="https://blog.bandwidth.com">Blog</a></li>
</ul>
</div></p>
