<link href="../styles/styles.min.css" type="text/css">
<div class="head">
   <a href="http://www.bandwidth.com" class="aimg"><img src="http://www.bandwidth.com/sites/all/themes/bandwidth/images/logo-footer.png" /></a>
   <h2> For Developers</h2>
   <ul>
   	<li><a href="https://catapult.inetwork.com/portal/signup" target="_blank"><button class="medium hover-go right">Sign up</button></a></li>
   	<li><a href="https://catapult.inetwork.com/pages/login.jsf" target="_blank">Log in</a></li>
   	<li><a href="https://support.bandwidth.com/access/unauthenticated" target="_blank">Support</a></li>
   </ul>
</div>
