<link href="../styles/styles.min.css" type="text/css">
<div class="head">
     <div id="banner">
       <div class="bannerContainer">
        <!-- <img src="../images/cluecon.png" /> -->
         <p>&nbsp;&nbsp;&nbsp;&nbsp;Goin' to ClueCon? <a href="mailto:slangkamp@bandwidth.com">Email us</a> your confirmation to get $20 for your Bandwidth trial &amp; a t-shirt! <a href="http://www.cluecon.com" target="_blank">What's ClueCon?</a></p>
         <p id="bannerClose">X</p>
       </div>
     </div>
   <a href="http://www.bandwidth.com" class="aimg"><div id="headerLogo"></div></a>
   <h2> &#8250;&nbsp; Docs for Developers</h2>
   <ul>
   	<li><a href="https://catapult.inetwork.com/portal/signup" target="_blank"><button class="free-trial">Free trial</button></a></li>
   	<li><a href="https://catapult.inetwork.com/pages/login.jsf" class="headerLink" target="_blank">Log in</a></li>
   	<li><a href="https://support.bandwidth.com/access/unauthenticated" class="headerLink" target="_blank">Support</a></li>
   </ul>
</div>
