// Font paths
// -------------------------
@font-face {
  font-family: "Bandwidth";
  src: url("../fonts/Bandwidth_2737b5c2f4775af7409d5c262a53eb2e.eot");
  src: url("../fonts/Bandwidth_2737b5c2f4775af7409d5c262a53eb2e.eot?#iefix") format("embedded-opentype"),
       url("../fonts/Bandwidth_2737b5c2f4775af7409d5c262a53eb2e.woff2") format("woff2"),
       url("../fonts/Bandwidth_2737b5c2f4775af7409d5c262a53eb2e.woff") format("woff"),
       url("../fonts/Bandwidth_2737b5c2f4775af7409d5c262a53eb2e.ttf") format("truetype"),
       url("../fonts/Bandwidth_2737b5c2f4775af7409d5c262a53eb2e.svg#Bandwidth") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Bandwidth";
    src: url("../fonts/Bandwidth_2737b5c2f4775af7409d5c262a53eb2e.svg#Bandwidth") format("svg");
  }
}