// Icons
// -------------------------


[data-icons8]:before,
.icons8-administrator-male:before,
.icons8-amazon:before,
.icons8-appointment-reminders:before,
.icons8-ascending-sorting:before,
.icons8-attention:before,
.icons8-average-2:before,
.icons8-back:before,
.icons8-businessman:before,
.icons8-businesswoman:before,
.icons8-calendar:before,
.icons8-calendar-1:before,
.icons8-calendar-10:before,
.icons8-calendar-11:before,
.icons8-calendar-12:before,
.icons8-calendar-13:before,
.icons8-calendar-14:before,
.icons8-calendar-15:before,
.icons8-calendar-16:before,
.icons8-calendar-17:before,
.icons8-calendar-18:before,
.icons8-calendar-19:before,
.icons8-calendar-2:before,
.icons8-calendar-20:before,
.icons8-calendar-21:before,
.icons8-calendar-22:before,
.icons8-calendar-23:before,
.icons8-calendar-24:before,
.icons8-calendar-25:before,
.icons8-calendar-26:before,
.icons8-calendar-27:before,
.icons8-calendar-28:before,
.icons8-calendar-29:before,
.icons8-calendar-3:before,
.icons8-calendar-30:before,
.icons8-calendar-31:before,
.icons8-calendar-4:before,
.icons8-calendar-5:before,
.icons8-calendar-6:before,
.icons8-calendar-7:before,
.icons8-calendar-8:before,
.icons8-calendar-9:before,
.icons8-cat:before,
.icons8-cheap-2:before,
.icons8-checked-checkbox:before,
.icons8-checkmark:before,
.icons8-circled-user-male:before,
.icons8-code:before,
.icons8-collaborator-male:before,
.icons8-controller:before,
.icons8-crown:before,
.icons8-csv:before,
.icons8-delete:before,
.icons8-delete-2:before,
.icons8-delete-3:before,
.icons8-descending-sorting:before,
.icons8-down:before,
.icons8-down-2:before,
.icons8-download:before,
.icons8-download-from-cloud:before,
.icons8-empty-box:before,
.icons8-error-filled:before,
.icons8-exit:before,
.icons8-expand-arrow:before,
.icons8-expensive-2:before,
.icons8-expired:before,
.icons8-file:before,
.icons8-file-filled:before,
.icons8-flash-on:before,
.icons8-forward:before,
.icons8-gender-neutral-user:before,
.icons8-google-logo-filled:before,
.icons8-guest-male:before,
.icons8-help:before,
.icons8-help-2:before,
.icons8-insert-table:before,
.icons8-lock:before,
.icons8-lol:before,
.icons8-low-price:before,
.icons8-menu:before,
.icons8-message:before,
.icons8-moderator-male:before,
.icons8-more:before,
.icons8-ms-excel:before,
.icons8-music-video:before,
.icons8-ok:before,
.icons8-ok-filled:before,
.icons8-pdf-2:before,
.icons8-phone:before,
.icons8-phone-filled:before,
.icons8-picture:before,
.icons8-plus-math:before,
.icons8-pokemon:before,
.icons8-portrait:before,
.icons8-search:before,
.icons8-search-filled:before,
.icons8-security-checked:before,
.icons8-skype-filled:before,
.icons8-sorting-options:before,
.icons8-speech-bubble:before,
.icons8-speech-bubble-filled:before,
.icons8-speedometer:before,
.icons8-spinner-frame-1:before,
.icons8-spinner-frame-2:before,
.icons8-spinner-frame-3:before,
.icons8-spinner-frame-4:before,
.icons8-spinner-frame-5:before,
.icons8-spinner-frame-6:before,
.icons8-spinner-frame-7:before,
.icons8-spinner-frame-8:before,
.icons8-stack-of-photos:before,
.icons8-star:before,
.icons8-thumb-up:before,
.icons8-toggle-off:before,
.icons8-toggle-on-filled:before,
.icons8-trash:before,
.icons8-tripadvisor:before,
.icons8-tv-show:before,
.icons8-unchecked-checkbox:before,
.icons8-unicorn:before,
.icons8-up:before,
.icons8-up-2:before,
.icons8-user:before,
.icons8-user-female-body:before,
.icons8-video-playlist:before,
.icons8-whatsapp-filled:before,
.icons8-worker-male:before,
.icons8-xls:before,
{ @include icons8-font; }

[data-icons8]:before { content: attr(data-icons8); }

.icons8-administrator-male:before { content: $icons8-var-administrator-male; }
.icons8-amazon:before { content: $icons8-var-amazon; }
.icons8-appointment-reminders:before { content: $icons8-var-appointment-reminders; }
.icons8-ascending-sorting:before { content: $icons8-var-ascending-sorting; }
.icons8-attention:before { content: $icons8-var-attention; }
.icons8-average-2:before { content: $icons8-var-average-2; }
.icons8-back:before { content: $icons8-var-back; }
.icons8-businessman:before { content: $icons8-var-businessman; }
.icons8-businesswoman:before { content: $icons8-var-businesswoman; }
.icons8-calendar:before { content: $icons8-var-calendar; }
.icons8-calendar-1:before { content: $icons8-var-calendar-1; }
.icons8-calendar-10:before { content: $icons8-var-calendar-10; }
.icons8-calendar-11:before { content: $icons8-var-calendar-11; }
.icons8-calendar-12:before { content: $icons8-var-calendar-12; }
.icons8-calendar-13:before { content: $icons8-var-calendar-13; }
.icons8-calendar-14:before { content: $icons8-var-calendar-14; }
.icons8-calendar-15:before { content: $icons8-var-calendar-15; }
.icons8-calendar-16:before { content: $icons8-var-calendar-16; }
.icons8-calendar-17:before { content: $icons8-var-calendar-17; }
.icons8-calendar-18:before { content: $icons8-var-calendar-18; }
.icons8-calendar-19:before { content: $icons8-var-calendar-19; }
.icons8-calendar-2:before { content: $icons8-var-calendar-2; }
.icons8-calendar-20:before { content: $icons8-var-calendar-20; }
.icons8-calendar-21:before { content: $icons8-var-calendar-21; }
.icons8-calendar-22:before { content: $icons8-var-calendar-22; }
.icons8-calendar-23:before { content: $icons8-var-calendar-23; }
.icons8-calendar-24:before { content: $icons8-var-calendar-24; }
.icons8-calendar-25:before { content: $icons8-var-calendar-25; }
.icons8-calendar-26:before { content: $icons8-var-calendar-26; }
.icons8-calendar-27:before { content: $icons8-var-calendar-27; }
.icons8-calendar-28:before { content: $icons8-var-calendar-28; }
.icons8-calendar-29:before { content: $icons8-var-calendar-29; }
.icons8-calendar-3:before { content: $icons8-var-calendar-3; }
.icons8-calendar-30:before { content: $icons8-var-calendar-30; }
.icons8-calendar-31:before { content: $icons8-var-calendar-31; }
.icons8-calendar-4:before { content: $icons8-var-calendar-4; }
.icons8-calendar-5:before { content: $icons8-var-calendar-5; }
.icons8-calendar-6:before { content: $icons8-var-calendar-6; }
.icons8-calendar-7:before { content: $icons8-var-calendar-7; }
.icons8-calendar-8:before { content: $icons8-var-calendar-8; }
.icons8-calendar-9:before { content: $icons8-var-calendar-9; }
.icons8-cat:before { content: $icons8-var-cat; }
.icons8-cheap-2:before { content: $icons8-var-cheap-2; }
.icons8-checked-checkbox:before { content: $icons8-var-checked-checkbox; }
.icons8-checkmark:before { content: $icons8-var-checkmark; }
.icons8-circled-user-male:before { content: $icons8-var-circled-user-male; }
.icons8-code:before { content: $icons8-var-code; }
.icons8-collaborator-male:before { content: $icons8-var-collaborator-male; }
.icons8-controller:before { content: $icons8-var-controller; }
.icons8-crown:before { content: $icons8-var-crown; }
.icons8-csv:before { content: $icons8-var-csv; }
.icons8-delete:before { content: $icons8-var-delete; }
.icons8-delete-2:before { content: $icons8-var-delete-2; }
.icons8-delete-3:before { content: $icons8-var-delete-3; }
.icons8-descending-sorting:before { content: $icons8-var-descending-sorting; }
.icons8-down:before { content: $icons8-var-down; }
.icons8-down-2:before { content: $icons8-var-down-2; }
.icons8-download:before { content: $icons8-var-download; }
.icons8-download-from-cloud:before { content: $icons8-var-download-from-cloud; }
.icons8-empty-box:before { content: $icons8-var-empty-box; }
.icons8-error-filled:before { content: $icons8-var-error-filled; }
.icons8-exit:before { content: $icons8-var-exit; }
.icons8-expand-arrow:before { content: $icons8-var-expand-arrow; }
.icons8-expensive-2:before { content: $icons8-var-expensive-2; }
.icons8-expired:before { content: $icons8-var-expired; }
.icons8-file:before { content: $icons8-var-file; }
.icons8-file-filled:before { content: $icons8-var-file-filled; }
.icons8-flash-on:before { content: $icons8-var-flash-on; }
.icons8-forward:before { content: $icons8-var-forward; }
.icons8-gender-neutral-user:before { content: $icons8-var-gender-neutral-user; }
.icons8-google-logo-filled:before { content: $icons8-var-google-logo-filled; }
.icons8-guest-male:before { content: $icons8-var-guest-male; }
.icons8-help:before { content: $icons8-var-help; }
.icons8-help-2:before { content: $icons8-var-help-2; }
.icons8-insert-table:before { content: $icons8-var-insert-table; }
.icons8-lock:before { content: $icons8-var-lock; }
.icons8-lol:before { content: $icons8-var-lol; }
.icons8-low-price:before { content: $icons8-var-low-price; }
.icons8-menu:before { content: $icons8-var-menu; }
.icons8-message:before { content: $icons8-var-message; }
.icons8-moderator-male:before { content: $icons8-var-moderator-male; }
.icons8-more:before { content: $icons8-var-more; }
.icons8-ms-excel:before { content: $icons8-var-ms-excel; }
.icons8-music-video:before { content: $icons8-var-music-video; }
.icons8-ok:before { content: $icons8-var-ok; }
.icons8-ok-filled:before { content: $icons8-var-ok-filled; }
.icons8-pdf-2:before { content: $icons8-var-pdf-2; }
.icons8-phone:before { content: $icons8-var-phone; }
.icons8-phone-filled:before { content: $icons8-var-phone-filled; }
.icons8-picture:before { content: $icons8-var-picture; }
.icons8-plus-math:before { content: $icons8-var-plus-math; }
.icons8-pokemon:before { content: $icons8-var-pokemon; }
.icons8-portrait:before { content: $icons8-var-portrait; }
.icons8-search:before { content: $icons8-var-search; }
.icons8-search-filled:before { content: $icons8-var-search-filled; }
.icons8-security-checked:before { content: $icons8-var-security-checked; }
.icons8-skype-filled:before { content: $icons8-var-skype-filled; }
.icons8-sorting-options:before { content: $icons8-var-sorting-options; }
.icons8-speech-bubble:before { content: $icons8-var-speech-bubble; }
.icons8-speech-bubble-filled:before { content: $icons8-var-speech-bubble-filled; }
.icons8-speedometer:before { content: $icons8-var-speedometer; }
.icons8-spinner-frame-1:before { content: $icons8-var-spinner-frame-1; }
.icons8-spinner-frame-2:before { content: $icons8-var-spinner-frame-2; }
.icons8-spinner-frame-3:before { content: $icons8-var-spinner-frame-3; }
.icons8-spinner-frame-4:before { content: $icons8-var-spinner-frame-4; }
.icons8-spinner-frame-5:before { content: $icons8-var-spinner-frame-5; }
.icons8-spinner-frame-6:before { content: $icons8-var-spinner-frame-6; }
.icons8-spinner-frame-7:before { content: $icons8-var-spinner-frame-7; }
.icons8-spinner-frame-8:before { content: $icons8-var-spinner-frame-8; }
.icons8-stack-of-photos:before { content: $icons8-var-stack-of-photos; }
.icons8-star:before { content: $icons8-var-star; }
.icons8-thumb-up:before { content: $icons8-var-thumb-up; }
.icons8-toggle-off:before { content: $icons8-var-toggle-off; }
.icons8-toggle-on-filled:before { content: $icons8-var-toggle-on-filled; }
.icons8-trash:before { content: $icons8-var-trash; }
.icons8-tripadvisor:before { content: $icons8-var-tripadvisor; }
.icons8-tv-show:before { content: $icons8-var-tv-show; }
.icons8-unchecked-checkbox:before { content: $icons8-var-unchecked-checkbox; }
.icons8-unicorn:before { content: $icons8-var-unicorn; }
.icons8-up:before { content: $icons8-var-up; }
.icons8-up-2:before { content: $icons8-var-up-2; }
.icons8-user:before { content: $icons8-var-user; }
.icons8-user-female-body:before { content: $icons8-var-user-female-body; }
.icons8-video-playlist:before { content: $icons8-var-video-playlist; }
.icons8-whatsapp-filled:before { content: $icons8-var-whatsapp-filled; }
.icons8-worker-male:before { content: $icons8-var-worker-male; }
.icons8-xls:before { content: $icons8-var-xls; }

