// Variables
// --------------------------


$icons8-css-prefix: "icons8";
$icons8-font-name: "Bandwidth";
$icons8-font-path: "../fonts";

$icons8-var-administrator-male: "\f100";
$icons8-var-amazon: "\f101";
$icons8-var-appointment-reminders: "\f102";
$icons8-var-ascending-sorting: "\f103";
$icons8-var-attention: "\f104";
$icons8-var-average-2: "\f105";
$icons8-var-back: "\f106";
$icons8-var-businessman: "\f107";
$icons8-var-businesswoman: "\f108";
$icons8-var-calendar: "\f109";
$icons8-var-calendar-1: "\f10a";
$icons8-var-calendar-10: "\f10b";
$icons8-var-calendar-11: "\f10c";
$icons8-var-calendar-12: "\f10d";
$icons8-var-calendar-13: "\f10e";
$icons8-var-calendar-14: "\f10f";
$icons8-var-calendar-15: "\f110";
$icons8-var-calendar-16: "\f111";
$icons8-var-calendar-17: "\f112";
$icons8-var-calendar-18: "\f113";
$icons8-var-calendar-19: "\f114";
$icons8-var-calendar-2: "\f115";
$icons8-var-calendar-20: "\f116";
$icons8-var-calendar-21: "\f117";
$icons8-var-calendar-22: "\f118";
$icons8-var-calendar-23: "\f119";
$icons8-var-calendar-24: "\f11a";
$icons8-var-calendar-25: "\f11b";
$icons8-var-calendar-26: "\f11c";
$icons8-var-calendar-27: "\f11d";
$icons8-var-calendar-28: "\f11e";
$icons8-var-calendar-29: "\f11f";
$icons8-var-calendar-3: "\f120";
$icons8-var-calendar-30: "\f121";
$icons8-var-calendar-31: "\f122";
$icons8-var-calendar-4: "\f123";
$icons8-var-calendar-5: "\f124";
$icons8-var-calendar-6: "\f125";
$icons8-var-calendar-7: "\f126";
$icons8-var-calendar-8: "\f127";
$icons8-var-calendar-9: "\f128";
$icons8-var-cat: "\f129";
$icons8-var-cheap-2: "\f12a";
$icons8-var-checked-checkbox: "\f12b";
$icons8-var-checkmark: "\f12c";
$icons8-var-circled-user-male: "\f12d";
$icons8-var-code: "\f12e";
$icons8-var-collaborator-male: "\f12f";
$icons8-var-controller: "\f130";
$icons8-var-crown: "\f131";
$icons8-var-csv: "\f132";
$icons8-var-delete: "\f133";
$icons8-var-delete-2: "\f134";
$icons8-var-delete-3: "\f135";
$icons8-var-descending-sorting: "\f136";
$icons8-var-down: "\f137";
$icons8-var-down-2: "\f138";
$icons8-var-download: "\f139";
$icons8-var-download-from-cloud: "\f13a";
$icons8-var-empty-box: "\f13b";
$icons8-var-error-filled: "\f13c";
$icons8-var-exit: "\f13d";
$icons8-var-expand-arrow: "\f13e";
$icons8-var-expensive-2: "\f13f";
$icons8-var-expired: "\f140";
$icons8-var-file: "\f141";
$icons8-var-file-filled: "\f142";
$icons8-var-flash-on: "\f143";
$icons8-var-forward: "\f144";
$icons8-var-gender-neutral-user: "\f145";
$icons8-var-google-logo-filled: "\f146";
$icons8-var-guest-male: "\f147";
$icons8-var-help: "\f148";
$icons8-var-help-2: "\f149";
$icons8-var-insert-table: "\f14a";
$icons8-var-lock: "\f14b";
$icons8-var-lol: "\f14c";
$icons8-var-low-price: "\f14d";
$icons8-var-menu: "\f14e";
$icons8-var-message: "\f14f";
$icons8-var-moderator-male: "\f150";
$icons8-var-more: "\f151";
$icons8-var-ms-excel: "\f152";
$icons8-var-music-video: "\f153";
$icons8-var-ok: "\f154";
$icons8-var-ok-filled: "\f155";
$icons8-var-pdf-2: "\f156";
$icons8-var-phone: "\f157";
$icons8-var-phone-filled: "\f158";
$icons8-var-picture: "\f159";
$icons8-var-plus-math: "\f15a";
$icons8-var-pokemon: "\f15b";
$icons8-var-portrait: "\f15c";
$icons8-var-search: "\f15d";
$icons8-var-search-filled: "\f15e";
$icons8-var-security-checked: "\f15f";
$icons8-var-skype-filled: "\f160";
$icons8-var-sorting-options: "\f161";
$icons8-var-speech-bubble: "\f162";
$icons8-var-speech-bubble-filled: "\f163";
$icons8-var-speedometer: "\f164";
$icons8-var-spinner-frame-1: "\f165";
$icons8-var-spinner-frame-2: "\f166";
$icons8-var-spinner-frame-3: "\f167";
$icons8-var-spinner-frame-4: "\f168";
$icons8-var-spinner-frame-5: "\f169";
$icons8-var-spinner-frame-6: "\f16a";
$icons8-var-spinner-frame-7: "\f16b";
$icons8-var-spinner-frame-8: "\f16c";
$icons8-var-stack-of-photos: "\f16d";
$icons8-var-star: "\f16e";
$icons8-var-thumb-up: "\f16f";
$icons8-var-toggle-off: "\f170";
$icons8-var-toggle-on-filled: "\f171";
$icons8-var-trash: "\f172";
$icons8-var-tripadvisor: "\f173";
$icons8-var-tv-show: "\f174";
$icons8-var-unchecked-checkbox: "\f175";
$icons8-var-unicorn: "\f176";
$icons8-var-up: "\f177";
$icons8-var-up-2: "\f178";
$icons8-var-user: "\f179";
$icons8-var-user-female-body: "\f17a";
$icons8-var-video-playlist: "\f17b";
$icons8-var-whatsapp-filled: "\f17c";
$icons8-var-worker-male: "\f17d";
$icons8-var-xls: "\f17e";
