@charset "UTF-8";
/* CSS Document */
.head{
   display: block;
   height:70px;
   width: 100%;
}
.head img{
   padding: 15px;
   max-height: 70px;
   float: left;  
}
.head ul{
   width: 400px;
   float:right;
   list-style: none;
   margin: 0;
   margin-right: 15px;
}
.head ul li{
   float: right;
   height: 70px;
   line-height: 70px;
   margin-left: 25px;
}
.head a{
   border-bottom: none;
   color: inherit; 
}
.head h1{
   float: left;
   font-weight: 100;
   color: #333333; 
}
.headbutton{
   padding: 10px 15px;
   background-color:#00bcec;
   color:#fff !important;
   border-bottom: none;
   border-radius:5px;
   text-transform:uppercase;
   font-weight:bold;
}
.headbutton:hover{
   padding-bottom: 10px;  
}
.aimg { 
   border-bottom: none; 
}
.book-body, .book-summary{
  height: calc(100% - 70px);
  position: fixed;
  bottom: 0;
  top: inherit;
}
.book-header{
  border-top: 1px solid rgba(0,0,0,.07);
  top: 70px;
}
.book-header h1 a, .book-header h1 a:hover {
   border-bottom: none;  
}
.book-header .btn.lang-switcher.active {
    background-color: #fff;
    border-bottom: 5px solid #00bcec;
    color: #364149;
}
.book-header .btn.lang-switcher {
    text-transform: uppercase;
}
.book-summary ul.summary li.active>a {
    color: #00bcec;
    font-weight: bold;
}
.markdown-section a{
  color: #00bcec !important;
}
.markdown-section {
    padding: 0px 30px 0;
}
.markdown-section h1 {
    padding-top: 15px;
}
.book.color-theme-3 .book-header .btn.lang-switcher.active {
    background-color: #186469;
    background-color: #2D3134;
    color: #fff;
}
.book-summary ul.summary li a, .book-summary ul.summary li span {
    padding: 5px 15px;
}
.book-summary ul.summary li.header {
    padding: 20px 15px 0px 15px;
}
.book-summary ul.summary li.header:first-child {
    padding-top: 5px;
}
.chapter span{
   text-transform: uppercase;
   color: #939da3 !important;
   padding-top: 20px !important;  
}
a{
  font-weight: 500;
  border-bottom: 1px solid;
  text-decoration:none;
  cursor: pointer;
  cursor: hand;
  -webkit-transition: all 0.1s;
  -moz-transition: all 0.1s;
  transition: all 0.1s;
}
a:hover{
  padding-bottom:.15em;
  text-decoration: none !important;
}
a:active{
  padding-bottom:0em;
  color:#dcdcdc;
}
pre{
  border-radius: 3px;  
}
th{
  color: #fff; 
  background: #3a455c;
  border:none !important;
}
.markdown-section code {
    padding: .3em;
    margin: 0;
    font-size: .85em;
    background-color: #f7f7f7;
    border-radius: 3px;
}
.get{
   background-color: #6cbf0d;  
}
.post{
   background-color: #00bcec;  
}
.put{
   background-color: #a5639b;  
}
.delete{
   background-color:#e8562e;  
}
.alert{
	display:inline-block;
	padding: .5em 1em;
	border: 2px solid #f6bbab;
	color: #e8562e;
	background-color: #fceae6;
	font-weight: 700;
	width:auto;
}
.alert:before{
	display:inline-block;
	font-family: 'Bandwidth', Open Sans, Oswald, Sans-Serif;
	width: 2em;
	height:2em;
	line-height:2em; 
	content: "!";
	background-color: #fff;
	border-radius:2em;
	border: 2px solid #f6bbab;
	margin-right: 1em;
	vertical-align: middle;
	text-align:center;
}
.alert a{
	font-family: 'Bandwidth', Open Sans, Oswald;
	font-weight: 500;
	border-bottom: 1px solid;
	text-decoration:none;
	margin-left: 1em;
	cursor: pointer;
	cursor: hand;
	-webkit-transition: all 0.1s;
   -moz-transition: all 0.1s;
   transition: all 0.1s;
	overflow:hidden;
}
.alert a:hover{
	padding-bottom:.3em; 
}
.alert a:active{
	padding-bottom:0em;
	color:#fff;
}
.small{
	padding: .5em 1em;
	font-size: .8em;
}
.general{
	color: #3a455c;
    background: #d9f5fc;
    border: 2px solid #7fddf5;
}
.general:before{
	content:"i";
	border:2px solid #7fddf5;
}
.success{
	color: #5a9f0b;
    background: #e9f5db;
    border-color: #b5df86;
}
.success:before {
	content:"\f12c";
	border:2px solid #b5df86;
}
.global{
	width: 100%;	
}
.text-only{
	line-height: 1.6em;	
}
.text-only:before{
	display:none;
}