@charset "UTF-8";
/* CSS Document */

.page-inner{
  margin-top: 0px;
  top: 50px;
}
a[aria-label="Change Layout"]{
  display: none !important;
}
.book-body, .book-summary{
  height: calc(100% - 70px);
  position: fixed;
  bottom: 0;
  top: inherit;
  background-color: #fff;
}
.book-summary{
  background-color: #fff;
}
.book-header{
  border-top: 1px solid rgba(0,0,0,.07);
  top: 70px;
}
.book-header h1 a, .book-header h1 a:hover {
  border-bottom: none;
}
.book-header .btn.lang-switcher.active {
  background-color: #1c0a14;
  color: #00bcec;
}
.book-header .btn.lang-switcher {
  text-transform: uppercase;
  background-color: #1c0a14;
  color: #8e8e8e;
  float: left;
  line-height: 70px;
  padding-bottom: 70px;
  font-weight: bold;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
.book-header .btn.lang-switcher:hover{
  color: #fff;
}
.api-method-example h3{
  margin-top: 0px;
}
.page-inner section{
  font-size: 1em !important;
}
.api-method-code {
  color: #EEE;
  min-height: 100vh;
  padding: 0px 30px 15px !important;
}
.api-method-code pre {
  color: #EEE;
  background-color: #1c0a14;
  border-radius: 3px;
}
.book-summary ul.summary li.active>a {
  color: #00bcec;
}
.summary li:last-child{
  display: none;
}
.markdown-section h1 {
  padding-top: 0px;
  margin-top: 0px;
}
.markdown-section h2 {
  font-size: 1.5em;
  font-weight: 900;
  text-transform: uppercase;
  margin-top: 0px;
  line-height: initial;
}
.book.color-theme-3 .book-header .btn.lang-switcher.active {
  background-color: #186469;
  background-color: #2D3134;
  color: #fff;
}
.book-summary ul.summary li a, .book-summary ul.summary li span {
  padding: 1px 15px;
}
.book-summary ul.summary li.header {
  padding: 15px 15px 0px 15px;
  font-size: .85em;
  text-transform: uppercase;
  color: #5f5f5f;
  font-weight: 900;
}
.book-summary ul.summary li.header:first-child {
  padding-top: 5px;
}
.book-header h1{
  display: none;
}
.pull-right{
  display: none;
}
.font-settings{
  display: none;
}
.chapter span{
  text-transform: uppercase;
  color: #939da3 !important;
  padding-top: 20px !important;
}
.product--icon{
  height: 30px;
  width: 30px;
  vertical-align: middle;
}
